# dependencies
/env
.env
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/db.sqlite3
/site
ENV/
__pycache__/
bin/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
docs/_build/
downloads/
eggs/
env/
htmlcov/
include/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
wheels/

#**/migrations/*
!*/migrations/__init__.py
.Python
.cache
.coverage
.coverage.*
.eggs/
.elasticbeanstalk/*
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache

# testing
/coverage

# production
/build
/db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local