SECRET_KEY=your-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
sqlite3_POSTGRES=django.db.backends.postgresql
POSTGRES_USER=mahennRs-admin
POSTGRES_PASSWORD=mahennRs-pass
POSTGRES_DB=mahennRs
HOST_DATA=db
DB_PORT=5432